target
key*.txt
.env*
venv
secrets

###vim###

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Added by cargo
/target
/dist
/pkgs/backend/dist
.aider*
/templates


# Added by nodejs
node_modules
public

__pycache__
