.px-page {
  padding-left: 45px;
  padding-right: 45px;
}

.line-gradient {
  height: 1px; /* Điều chỉnh chiều cao theo ý muốn */
  background: linear-gradient(to right, #f5e8c7, #8b5e3c, #d9c2a7); /* Gradient màu giống hình */
}

.header-shadow-div {
  transition: box-shadow 0.3s ease; /* Tạo hiệu ứng mượt mà khi thay đổi bóng */
}

.header-shadow-div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
}

.dropdown-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0; /* Đẩy menu sang trái */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #3e8e41;
}
